workspace = { members = ["codde_protocol_derive", "client"] }
[package]
name = "codde_protocol"
version = "0.1.6"
authors = ["Mathis Lecomte <vm.lecomte@gmail.com>"]
edition = "2021"
description = "Multi Communication protocol in heart of the C.O.D.D.E. Pi framework"
readme = "README.md"
license-file = "LICENSE"
keywords = ["rust", "python", "codde_pi", "iot"]
homepage = "https://github.com/codde-pi/codde_protocol"

[dependencies]
arr_macro = "0.2.1"
dynamic = "0.2.1"
pyo3 = { version = "0.22.0", features = ["anyhow", "serde", "gil-refs"] }
quote = "1.0.35"
serde = { version = "1.0.196", features = ["derive"] }
syn = "2.0.48"
codde_protocol_derive = "0.1.0"
cbor = "0.4.1"
typetag = "0.2.15"
rmp-serde = "1.1.2"
anyhow = "1.0.79"
cbindgen = "0.26.0"
regex = "1.10.3"
log = "0.4.22"

[lib]
name = "codde_protocol"
crate-type = ["staticlib", "cdylib", "rlib"]
